*{font-family:montserrat,sans-serif}

hr{
    width: 26%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    margin-right: 130px;
}

body{
    color:#fff;
    background-color:#191919;
    margin:0;
    padding:0
}
a{text-decoration:none}
.profile-content{
    display:flex;
    height:100vh;
    align-items:center;
    justify-content:center;
    padding:0 25px
}
article{
    max-width:600px;
    width:100%;
    margin:auto
}
figure{
    position:relative;
    height:185px;
    margin:0;
    background-color:#008080;
    box-shadow:0 0 55px 20px rgba(0,0,0,.4);
    border-radius:10px;
    padding-left:220px
}
figcaption{display:inline-block}
.my-pic{
    position: absolute;
    bottom: 0;
    left: -15px;
    width: 241px;
    vertical-align: bottom;
}
.my-name{
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0 5px;
    font-family: modak;
    letter-spacing: 2px;
}
.job-title{
    text-align:center;
    font-size:16px;
    font-weight:300;
    margin-top:0;
    color:#B2DFDB;
    letter-spacing: 2px;
    font-family:Source Sans Pro ExtraLight
}
.social-links{
    max-width:260px;
    list-style:none;
    display:block;
    margin:25px auto 0;
    padding:0;
    display:flex;
    justify-content:space-between
}
.social-links img{
    max-width:20px;
    height:14px
}
.codewars-badge{
    display:block;
    text-align:center;
    margin-top:5px
}
img{max-width:100%}
.second-color{color:#FF5722;}
.icon-color{color:#191919;}
.color{color:#B2DFDB;}
@media(max-width:767px){
    figure{
        height:auto;
        box-shadow:none;
        padding-left:0
    }
    figcaption{
        display:block;
        box-shadow:0 0 20px 5px rgba(0,0,0,.4);
        border-radius:5px;
        padding:15px 10px
    }
    .my-pic{
        position:static;
        display:block;
        margin:auto
    }
    .my-name{
        font-size:27px;
        margin:0 0 5px
    }
hr{
    width: 26%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    margin-right: 150px;
}

}
