@font-face{
    font-family:JF Flat Regular;
    src: url(../fonts/JF-Flat-Regular.ttf);    
}
@font-face{
    font-family:Lemonada Bold;
    src: url(../fonts/Lemonada-VariableFont_wght.ttf);
}
* {
    direction: rtl;
    font-family:JF Flat Regular;
}
.logo-section{
    text-align: left;
}
.logo-section .below {
text-align: start;
}
.my-name{
    font-family:Lemonada Bold;
    font-size:22px;
}


}
figcaption h4 span {
    font-family:Lemonada Bold;
}
.download {
    box-shadow: 2px 2px 0px 0px #FF5722;
    background: linear-gradient(to bottom, #008080 5%, #008080 100%);
    background-color: #008080;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 18px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #008080;
    /* margin-right: 27px; */
}
.button {
    box-shadow: 2px 2px 0px 0px #FF5722;
    background: linear-gradient(to bottom, #008080 5%, #008080 100%);
    background-color: #008080;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 18px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #008080;
    /* margin-right: 27px; */
    margin-top: 50px;
}
@media (max-width: 1200px){
.logo-section .below {
    margin-left: 24px;
}
.button {
    box-shadow: 2px 2px 0px 0px #FF5722;
    background: linear-gradient(to bottom, #008080 5%, #008080 100%);
    background-color: #008080;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 18px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #008080;
    margin-right: 27px;
    margin-top: 34px;
}
.download {
    box-shadow: 2px 2px 0px 0px #FF5722;
    background: linear-gradient(to bottom, #008080 5%, #008080 100%);
    background-color: #008080;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 18px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #008080;
    margin-right: 26px;
}
}
@media (max-width: 767px){
    .logo-section .below {
    margin-left: 24px;
    text-align: end;
    }
}